<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" id="all-wines-link" href="{% url 'wine' %}" role="button" aria-expanded="false" aria-haspopup="true">
              All Wines
            </a>
            <!-- <div class="dropdown-menu border-0" aria-labelledby="all-wines-link">
              <a class="dropdown-item" href="#">By Price</a>
              <a class="dropdown-item" href="{% url 'wine' %}">All Wines</a>
            </div> -->
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Colour
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="colour-link">
                <a href="" class="dropdown-item">Red</a>
                <a href="" class="dropdown-item">White</a>
                <a href="" class="dropdown-item">Rosé</a>
                <a href="" class="dropdown-item">Sparkling</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Country
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="country-link">
                <a href="" class="dropdown-item">Australia</a>
                <a href="" class="dropdown-item">Austria</a>
                <a href="" class="dropdown-item">Chile</a>
                <a href="" class="dropdown-item">France</a>
                <a href="" class="dropdown-item">Germany</a>
                <a href="" class="dropdown-item">Ireland</a>
                <a href="" class="dropdown-item">Italy</a>
                <a href="" class="dropdown-item">Japan</a>
                <a href="" class="dropdown-item">New Zealand</a>
                <a href="" class="dropdown-item">Portugal</a>
                <a href="" class="dropdown-item">South Africa</a>
                <a href="" class="dropdown-item">Spain</a>
                <a href="" class="dropdown-item">USA</a>
            </div>
        </li>
    </ul>
</div>