{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3 mb-1">
            <h2 class="logo-font wine-heading">Wines</h2>
            <hr class="w-80 mb-2 mx-5">
        </div>
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-lg-3">
        {% for wine in wines %}
            <div class="col">
                <div class="card h-100">
                    <!-- bs card start -->
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="{% url 'wine_listing' wine.id %}">
                                {% if "placeholder" in wine.image.url %}
                                <img src="{% static 'images/noimage.png' %}" alt="placeholder" class="img-fluid rounded">
                                {% else %}
                                <img src="{{ wine.image.url }}" class="img-fluid rounded-start" alt="{{ wine.name }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title mt-5">{{ wine.name }}</h5>
                                <p class="card-text text-center"><small class="text-body-secondary">€{{ wine.price }}</small></p>
                            </div>
                            {% if request.user.is_superuser %}
                                <small class="ml-3">
                                    <a href="{% url 'edit_listing' wine.id %}">Edit</a> | 
                                    <a class="text-danger" href="{% url 'delete_listing' wine.id %}">Delete</a>
                                </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col w-100">
                <div class="h-100 search-redirect">
                    <p>
                        No wines found. Back to <a class="inline-redirect" href="{% url 'wines' %}">all wines</a>?
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}