<div class="toast custom-toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true" autohide="false">
    <div class="d-flex">
		<div class="toast-body">
			Success!
			{{ message }}
		</div>
		<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    {% if total %}
		<hr>
		<div class=" align-items-center mx-4">
			<p class="logo-font">Your Cart</p>
		</div>
		<div class="cart-if-wines mx-4">
			{% for item in cart_items %}
				<div class="row">
					<div class="col-3 my-1">
						<img class="w-100" src="{{ item.wine.image.url }}">
					</div>
					<div class="col-9">
						<p class="my-0"><strong>{{ item.wine.name }}</strong></p>
						<p class="my-0 small">Qty: {{ item.quantity }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="row mx-auto p-2">
			<div class="col">
				<a href="{% url 'cart_view' %}" class="btn btn-black btn-block">
					<span class="text-uppercase">Secure Checkout</span>
					<span class="icon">
						<i class="fas fa-lock"></i>
					</span>
				</a>
			</div>
		</div>
	{% endif %}
</div>